.sheet {
    position: absolute;
    width: 400px;
    height: auto;
    left: calc(50% - 200px);
    top: 39px;
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    padding: 10px;
}

.sheet.wide {
    width: 500px;
    left: calc(50% - 250px);
}

.sheet .input {
    margin-bottom: 2px;
}


.sheet input[type="text"]::placeholder {
    text-align: left;
    padding: 0px;
}

.sheet .input.short {
    min-width: 40px;
    width: 40px;
}

