.sidebar {
    width: 200px;
}

.path {
    width: calc(100% - 201px);
    margin-left: 201px;
    padding-left: 0px;
}

.sidebar .item {
    margin-bottom: 2px;
}

.sidebar .text label {
    vertical-align: top;
}

.sidebar .item button {
    margin-left: 60px;
}